@font-face {
	font-family: "Inter";
	src: local("Inter"), local("Inter Regular"), url("../fonts/Inter-R.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: local("Inter Bold"), url("../fonts/Inter-B.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: local("Inter Italic"), url("../fonts/Inter-I.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Inter";
	src: local("Inter Bold Italic"), url("../fonts/Inter-BI.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
	font-display: optional;
}
@font-face {
	font-family: "Inter-fallback-linux";
	src: local("Liberation Sans");
}
@font-face {
	font-family: "Inter-fallback";
	src: local("Arial");
}
@font-face {
	font-family: "Norse";
	src: url("../fonts/Norse-R.woff2");
	font-weight: normal;
	font-style: normal;
	font-display: optional;
}
@font-face {
	font-family: "Norse";
	src: url("../fonts/Norse-B.woff2");
	font-weight: bold;
	font-style: normal;
	font-display: optional;
}
img {
	
	height: auto;
	max-width: 100%;

	
}
p {
	min-width: min-content;
}
* {
	outline: 1px solid black;
}

body {
	background-color: #333333;

	color: #dadbdb;
}
.grid-container {
	padding-top: 2rem;
	display: grid;
	height: 100vh;

	justify-content: center;
	grid-template-columns: minmax(1rem, 1fr);
	grid-template-rows: 6rem 1fr;
}
.buttons {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1;
	justify-content: center;
	grid-column: 1/2;
	grid-row: 1/2;
}

.books {
	grid-column: 1/2;
	grid-row: 2/3;
	display: grid;
	grid-template-columns: repeat(2, 38rem);

	justify-content: center;
	grid-auto-rows: 16rem;
	gap: var(--gap-main);
	overflow: auto;
}

.book-card {
	font-size: 1.3rem;
	display: flex;
	justify-content: space-between;
	
	box-shadow: var(--shadow-elevation-medium);
	border-radius: 4px;
	border: 1px solid rgb(102 102 102/1);
}
.book-card-img {
	
	border-radius: 4px;
	background: #bb7851;
	
}
.dropdown {
	height: 1.65em;
	margin-top: 1rem;
}
.infos {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: flex-start;
	
	gap: clamp(0.5rem, 0.5vw, 1.5rem);
	
	padding: clamp(0.2rem, 1vw, 1.5rem) clamp(0.2rem, 1vw, 1.5rem);
}
.title {
	font-size: 1.1em;
	font-weight: bold;
	max-height: 8.58rem;
	overflow-y: scroll;
}
.author {
	font-size: 0.8em;
}
.page,
.read {
	font-size: 0.6em;
	font-style: italic;
}
.read {
	margin-top: auto;
	display: flex;
	justify-content: center;
	padding: 0.2rem 0;
	border: 2px solid rgb(102 102 102/1);
	width: max(70%,1rem);
	align-self: center;
	margin-left: 3.025em;
}
.input-container {
	display: none;
	gap: 1rem;
	flex-direction: column;
}
.input-skeleton {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 70%;
	min-width: 0;
	width: 100%;
	margin-top: auto;
	justify-content: center;
	padding: var(--padding-main);
}
.button-container {
	display: flex;
	flex-grow: 1;
	width: 100%;
	min-width: 0;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	font-weight: bold;
}
button {
	border: 1px solid black;
	border-radius: 16px;
	background-color: #1992d4;
	color: white;

	cursor: pointer;
}
button:hover {
	background-color: #10608b;
}

button:active {
	background-color: #10608b;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
.kapat {
	font-size: 1.5rem !important;
	font-weight: bold;
}
.delete-button {
	font-size: 1.2rem;
}
@media (max-width: 78rem) {
	.books{grid-template-columns:  min(38rem,100%)}
	
}
